// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

input {
    mouse {
        accel-profile "flat"
    }
    touchpad {
        tap
        natural-scroll
    }
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    scale 1.5
    position x=0 y=0
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 48
    hide-after-inactive-ms 2000
}

layout {
    gaps 32
    struts {
        top -32
        bottom -32
        left -32
        right -32
    }
    
    background-color "#000000"
    center-focused-column "always"
    default-column-width { proportion 1.0; }
    focus-ring { off; }
    border { off; }
    shadow { off; }
}

overview {
    zoom 0.75
    backdrop-color "#000000"
    workspace-shadow {
        off
    }
}

workspace "main"

window-rule {
    open-maximized-to-edges true
    //open-fullscreen true
}

gestures {
    hot-corners { off; }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path null

spawn-sh-at-startup "noctalia"
spawn-sh-at-startup "squeekboard"


include "keybinds.kdl" 
include "noctalia.kdl"
